{{ partial "head.html" . }}
<section class="padding-lg">
  <article class="container">
    <h1>{{ .Title }}</h1>
    {{ .Content }}{{ range.Data.Pages }}
    <a href="{{ .RelPermalink }}" style="text-decoration: none;">
      <div class="grid-2 secondary-bg"  style="margin-bottom:40px;">
        <div>
          <img src="{{ .Params.Thumbnail }}" alt="{{ .Title }}">
        </div>
        <div style="padding: 10px;">
          <h3>
            {{ .Title }}
          </h3>
          <p>{{ .Description }}</p>
          <p class="btn-white">Learn More &raquo;</p>
        </div>
      </div>
      {{ end }}
  </article>
  </a>
</section>
{{ partial "footer.html" . }}