{{ partial "head.html" . }}
<section class="padding-lg">
  <article class="container">
    <h1>{{ .Title }}</h1>
    {{ .Content }}{{ range.Data.Pages }}
    <div style="display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; margin-bottom:40px">
      <img src="{{ .Params.Thumbnail }}" alt="">
      <div>
        <h3>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h3>
      </div>
        </div>
    {{ end }}</article>
</section>
{{ partial "footer.html" . }}