{{ partial "head.html" . }}

{{$p := .Pages}}
{{if .IsHome}}
{{$p = where site.RegularPages "Type" "in" site.Params.mainSections}}
{{else if eq .Kind "taxonomy"}}
{{$p = $p.ByTitle}}
{{end}}
{{$paginator := .Paginate $p}}

<section class="padding-lg">
  <article class="container">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
        <div class="grid-3">
      {{ range.Data.Pages }}
      <div class="secondary-bg">
        <a href="{{ .RelPermalink }}"><img src="{{ .Params.Thumbnail }}" alt=""></a>
        <div style="padding: 14px;">
        <h3>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h3>
        <p datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Date.Format "January 2, 2006" }}
        </p>
        <p>{{ .Description }}</p>
        <a href="{{ .RelPermalink }}">Read More &raquo;</a>
      </div>
    </div>
    {{ end }}
  </article>
</section>
<div>{{template "partials/pagination.html" .}}</div>
{{ partial "footer.html" . }}