{{ partial "head.html" . }}
<section class="padding-lg">
	<article class="container">
		<h1>{{ .Title }}</h1>
		<h2>Recent Work Experience</h2>
			{{ range .Site.Data.recentwork }}
			<div class="recentwork">
				<p>{{ .date }}<br />
				<strong>{{ .title }}</strong><br />
				{{ .company }}</p>
				<p>{{ .description }}</p>
			</div>
			{{ end }}
	</article>
</section>
<section class="padding-lg">
	<article class="container" style="background-color: whitesmoke; text-align: center; padding: 30px 20px 20px;margin-bottom: 10px;">
		<h2>Education</h2>
		<h4>Appalachian State University</h4>
		<p>Bacelor of Science in Commercial Art/Graphic Design with Business Management Minor</p>
	</article>
</section>
<section class="padding-lg">
	<article class="container">
			<h2>Additional Work Experience</h2>
			<div class="grid-2">
				{{ range .Site.Data.additionalwork }}
				<div>
					<p><strong>{{ .title }}</strong><br />
					{{ .company }}</p>
					<p>{{ .description }}</p>
				</div>
				{{ end }}
			</div>
	</article>
</section>

{{ partial "footer.html" . }}