{{ partial "head.html" . }}
<!-- HERO -->
<section class="padding-lg hero-gradient">
  <article class="container">
    <div style="display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; margin-bottom:40px; align-items: center">
      <div>
        <h1 style="font-size: 2.75em; color:purple;">Web Developer, Designer &amp; Digital Marketer</h1>
        <p style="font-size: 1.5em;">Helping Businesses Deliver Real Impact To Their Customers</p>
        <!--<a href="#"><button>Learn More &raquo;</button></a>--> 
      </div>
      <img src={{ "/images/laptop-floating.png" | relURL }} alt="">
    </div>
  </article>
</section>
<!--<div class="hero-image">
  <div class="overlay">
    <h1>Web Developer, Designer,<br />&amp; Digital Marketer</h1>
    <p>Helping Businesses Deliver Real Impact To Their Customers</p>
    <a href="#"><button>Learn More &raquo;</button></a>
  </div>
</div>-->
<!-- ABOUT -->
<section class="padding-lg" style="background-color: white;">
  <article class="container">
    {{ .Content }}
  </article>
</section>
<!-- RECENT BLOG POSTS -->
<section class="padding-lg">
  <article class="container">
    <h2>Featured Blog Posts</h2>
    <p><a href={{ "/blog/" | relURL }}>View More &raquo;</a></p>
    <div class="grid-3">
      {{ range first 3 .Site.Taxonomies.tags.featured }}
      <div class="hero-gradient">
        <a href="{{ .RelPermalink }}"><img src="{{ .Params.Thumbnail }}" alt=""></a>
        <div style="padding: 14px;">
          <h3>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h3>
          <p>{{ .Description }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </article>
</section>
{{ partial "footer.html" . }}