{{ partial "head.html" . }}
<!-- HERO -->
<div class="hero-image">
  <div class="overlay">
    <h1>Hero Image with Overlay</h1>
    <p>Full width background using only HTML &amp; CSS</p>
    <a href="#"><button>Learn More &raquo;</button></a>
  </div>
</div>
<!-- ABOUT -->
<section class="padding-lg" style="background-color: white;">
  <article class="container">
    {{ .Content }}
  </article>
</section>
<!-- RECENT BLOG POSTS -->
<section class="padding-lg">
  <article class="container">
    <h2>Recent Blog Posts</h2>
    <div class="grid-3">
      {{ range first 3 .Site.Taxonomies.tags.featured }}
      <div style="background-color: white">
        <a href="{{ .RelPermalink }}"><img src="{{ .Params.Thumbnail }}" alt=""></a>
        <div style="padding: 14px;">
          <h3>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h3>
          <p datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{ .Date.Format "January 2, 2006" }}
          </p>
          <p>{{ .Description }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </article>
</section>
{{ partial "footer.html" . }}