{{ partial "head.html" . }}
<!-- HERO -->
<div class="hero-image">
  <div class="overlay">
    <h1 style="font-weight: 300;">Development, Design, &amp;<br />Digital Marketing</h1>
    <p>Helping Businesses Deliver Real Impact To Their Customers</p>
    <a href="#"><button>Learn More &raquo;</button></a>
  </div>
</div>
<!-- ABOUT -->
<section class="padding-lg" style="background-color: white;">
  <article class="container">
    {{ .Content }}
  </article>
</section>
<!-- RECENT BLOG POSTS -->
<section class="padding-lg">
  <article class="container">
    <h2>Featured Blog Posts</h2>
    <p><a href={{ "/blog/" | relURL }}>View More &raquo;</a></p>
    <div class="grid-3">
      {{ range first 3 .Site.Taxonomies.tags.featured }}
      <div style="background-color: white">
        <a href="{{ .RelPermalink }}"><img src="{{ .Params.Thumbnail }}" alt=""></a>
        <div style="padding: 14px;">
          <h3>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h3>
          <p>{{ .Description }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </article>
</section>
{{ partial "footer.html" . }}